@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/css/colors.css';

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-darkSecondary);
    overflow: hidden;
    height: 100%;
    width: 100%;
}


