:root {
    --color-icon: #D2824E;
    --color-primary: #313338;
    --color-secondary: #2B2D31;
    --color-darkPrimary: #232428;
    --color-darkSecondary: #1E1F22;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #17a2b8;
  }