@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.css";

* {
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #232428; /* Tailwind class bg-darkPrimary */
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #232428; /* Tailwind class bg-darkPrimary */
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2b2d31; /* Tailwind class bg-secondary */
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2b2d31 #232428; /* Tailwind class: bg-secondary, bg-darkPrimary */
}

.sidebar-icon {
    border-radius: 50%;
    transition: 0.5s;
}

.active,
.sidebar-icon:hover {
    border-radius: 35%;
}

.sidebar-icon::after {
    content: "";
    position: absolute;
    left: -0.72rem;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    width: 5px;
    height: 0.5rem;
    background-color: white;
    border-radius: 5px;
}

.active::after,
.sidebar-icon:hover::after {
    content: "";
    position: absolute;
    left: -0.72rem;
    right: -1rem;
    top: 50%;
    width: 5px;
    height: 1.6rem;
    border-radius: 0 5px 5px 0;
}

.sidebar-icon:hover .label {
    opacity: 1; 
  }

/* Tooltip Styles */
.tooltip {
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    background-color: #D2824E;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s;
  }
  
  /* Sidebar Slide-in Animation */
  .sidebar {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hamburger Menu Transition */
  .transition-transform {
    transition: 0.3s ease-in-out;
  }
  
  /* Ensuring proper stacking order */
  .z-40 {
    z-index: 40;
  }
  

/* CSS untuk animasi */
.highlight-content, .card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}


.highlight-content.visible, .card.visible {
  opacity: 1;
  transform: translateY(0);
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.typing-animation {
  display: flex;
  align-items: center;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 2px;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
      opacity: 0;
  }
  40% {
      opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translateX(20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}


.hero-content {
  animation: fadeIn 2s ease-out;
}

.section {
  animation: fadeInUp 1s ease-out;
}

.faq-answer {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.faq-answer-open {
  max-height: 500px; /* Adjust based on content */
}

/* Transitions for Cards */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}


